<div class="container">

  <div class="row justify-content-center">
    <div class="list-group" style="width: 40rem;">
      <a class="list-group-item list-group-item-action text-center"
        href="https://ps2.fisu.pw/player/?name=avernumtrue"
        target="_blank">
        Planetside Stats
      </a>
      <a class="list-group-item list-group-item-action text-center"
        href="https://www.dotabuff.com/players/166351841"
        target="_blank">
        Dotabuff
      </a>
      <a class="list-group-item list-group-item-action text-center">
        Spotify?
      </a>
      <a class="list-group-item list-group-item-action text-center">
        Roll 20?
      </a>
      <a class="list-group-item list-group-item-action text-center">
        Something Else?
      </a>
    </div>
  </div>
</div>