:host {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: min-content minmax(min-content, 1fr) min-content;

  background-color: rgb(99, 103, 50);
}

h1 {
  padding-top: 1rem;
}

.text-white {
  color: white
}

footer {
  /* margin: 0 10vw; */
  background-color: white;
  border-radius: 5em 5em 0 0;
  padding: 0.5em 2.5em;
}

.contact-us {
  font-size: small;
}